{%  extends 'base.html' %}

{% block title %}
{{ page_title }}
{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{url_for ('blog.static', filename='css/blog.css')}}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Create Blog Post</h3>
            <form action="{{url_for('blog.create')}}" method="POST">
                Title: <input class="form-control" type="text" name="blog_title" required>
                Blog: <textarea  class="form-control" name="blog_info" rows="8" maxlength="1000" placeholder="Limit 1000 characters" required></textarea>
                Image: <input type="text" class="form-control image-field" name="image_url" id="image_url" required>
                <button type="submit" class="btn btn-primary form-button">Create</button>
                <a class="btn btn-primary form-button" href="{{url_for ('admin.management')}}">Cancel</a>
            </form>
        </div>    
    </div>
</div>
{% endblock%}