/*------------------ Landing page ---------------------*/

.avatar-image{
    width: 60%;
    height: auto;
    border-radius: 50%;
    border-style: groove;
}

.avatar-col{
    padding-top: 10px;
    text-align: right;
}

.title-text{
    text-align: center;
    font-size: 2rem;
}

/*--------------- Navingation and footer ------------- */
.nav-bar-center{
    justify-content: center!important;
}

.nav-item{
    text-align: center;
    width: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.test:hover{
    color: red!important;
}

.nav-item-name{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: rgb(0,0,0,.5)!important;
    padding-right: 50px;
    padding-left: 50px;
}

footer{
    background-color: #f8f9fa!important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.footer-icon{
    color: rgb(0,0,0,.5)!important;
    font-size: 1.5rem;
}

.copyright-footer{
    color: rgb(0,0,0,.5)!important;
    font-size: 1.1rem;
}


/* ------------------- Media Queries -----------------*/
@media only screen and (min-width: 768px){
    .nav-name-mobile{
        display: none;
    }
}


@media only screen and (max-width: 768px){
    
    .bg-light{
        justify-content: center;
    }

    .nav-icon{
        display: none;
    }

    .nav-item{
        text-align: left;
    }

    .title-text{
        text-align: center;
        font-size: 1.5rem;
    }

    .nav-name-desktop{
        display: none;
    }

    .nav-name-mobile{
        display: block;
    }
}    


@media only screen and (max-width: 425px){
    .avatar-col{
        text-align: center;
    }
}    


@media only screen and (max-width: 320px){
    .copyright-footer{
        font-size: 0.7rem;
    }
}    