

/*--------------- Navingation and footer ------------- */

.nav-bar-center{
    justify-content: center!important;
}

.nav-item{
    text-align: center;
    width: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.test:hover{
    color: red!important;
}

.nav-item-name{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: rgb(0,0,0,.5)!important;
    padding-right: 50px;
    padding-left: 50px;
}

footer{
    background-color: #D99F6C!important;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    position: fixed;
}

.footer-icon{
    color: rgb(0,0,0,.5)!important;
    font-size: 1.5rem;
}

.copyright-footer{
    color: rgb(0,0,0,.5)!important;
    font-size: 1.1rem;
}


/* ------------------- Media Queries base.html -----------------*/

@media only screen and (min-width: 768px){

    .nav-name-mobile{
        display: none;
    }

    .nav-name-mobile1{
        display: none;
    }
}


@media only screen and (max-width: 768px){
    
    .bg-light{
        justify-content: center;
    }

    .nav-icon{
        display: none;
    }

    .nav-item{
        text-align: left;
    }

    .nav-name-desktop{
        display: none;
    }

    .nav-name-mobile{
        display: block;
    }
}    


@media only screen and (max-width: 425px){
  
    .nav-item-name{
        font-size: 1.7rem;
    }

    .nav-name-mobile{
        display: none;
    }

}    

@media only screen and (max-width: 375px){

    .nav-item-name{
        font-size: 1.6rem;
    }

   
}    

@media only screen and (max-width: 320px){

    .nav-item-name{
        padding-right: 5px;
    }

    .copyright-footer{
        font-size: 0.7rem;
    }
}    
