<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com/a71ecb4f79.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
		integrity="sha3\84-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for ('static', filename='favicon.ico')}}">
	<link rel="stylesheet" href="{{url_for ('static', filename='css/style.css')}}" type="text/css">

	<title>{% block title %}{%endblock%}</title>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <ul class="nav">
                        <li class="col-6 col-sm-3 no-gutters">
                            <img class="avatarImage" src="/static/images/avatar.jpg" alt="profile image">
                        </li>   
                        <li class="col-6 col-sm-2 no-gutters">
                            <div class="navbutton">Resume</div>
                        </li>
                        <li class="col-6 col-sm-2 no-gutters">
                            <div class="navbutton">GitHub</div>
                        </li>
                        <li class="col-6 col-sm-2 no-gutters">
                            <div class="navbutton">Contact</div>
                        </li>
                        <li class="col-6 col-sm-2 no-gutters">
                            <div class="navbutton">Hobbies</div>
                        </li>
                        <li class="col-6 col-sm-2 no-gutters">
                            <div class="navbutton">Download</div>
                        </li>
                </ul>
            </div>
        </div>    
    </header>


{% block content%}



{% endblock %}


<!--=============================================== Java Script ===================================================-->

{% block script %}
    
{% endblock %}

</body>

</html>