{%  extends 'base.html' %}

{% block title%}
{{ page_title }}
{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/github.css')}}" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid bg-image-github">
  <div class="emptyDivTop"></div>

  <div class="container">
    <div class="row">
      <span id="overlayBox"></span>
      <div class="col-sm-12 git-heading">
        <h2><i class="fab fa-github"></i> GitHub <i class="fab fa-github"></i></h2>
        <p>Please note some of these repos are works in progress or for testing purpose only.<br>
          Direct link to my GitHub <a href="https://github.com/jonathanw82" target="_blank">Here.</a></p>
        <span id="repoNumbers"></span>
        <span id="warning"></span>
      </div>
    </div>
    <div class="row" id="displayRepos">
    </div>
  </div>
  <div class="backToTopButton"><a class="btn btn-info" href="#top"><i class="fas fa-arrow-up"></i> Go to Top</a></div>
  <div class="emptyDiv"></div>
    <div class="row">
      <div class="col-sm-12 tempFooter" id="tempFooter">
        <a href="https://www.linkedin.com/in/jonathan-wheway/" target="_blank"><i class="fab fa-linkedin footer-icon"aria-hidden="true"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square footer-icon" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square footer-icon" aria-hidden="true"></i></a>
        <a href="https://github.com/jonathanw82" target="_blank"><i class="fab fa-github-square footer-icon"></i></a><br>
        <div class="copyright-footer" >Copyright-&copy; 2019-<script> document.write(new Date().getFullYear()); </script><a href="{{ url_for ('login') }}" id="nameLoginLink"> Jonathan Wheway</a></div>
      </div>
    </div>
</div>


{% endblock %}

{% block script %}

<script src="{{url_for('static', filename='js/github.js')}}"></script>

{% endblock %}