  
{%  extends 'base.html' %}

{% block title%}
GitHub
{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/github.css')}}" type="text/css">
{% endblock %}

{% block content %}
  <div class="container-fluid bg-image-github">

      <div class="container">
        <div class="row">
          <span id="overlayBox"></span>
          <div class="col-sm-12 git-heading">
            <h2>GitHub</h2>
            <p>Please note some of these repos are works in progress or for testing purpose only.</p>
            <span id="warning"></span>
          </div>
        </div>
          <div class="row" id="displayRepos"></div>
      </div>


  </div>
  
{% endblock %}



{% block script %}

<script src="{{url_for('static', filename='js/github.js')}}"></script>

{% endblock %}