  
{%  extends 'base.html' %}

{% block title %}
About
{%endblock%}

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-sm-4 avatar-col">
            <img class="avatar-image" src="/static/images/avatar.jpg" alt="Avatar Image">
        </div>
        <div class="col-sm-8 title-text">
            <div class="title">Full Stack Developer With Green Fingers</div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <p class="about-heading">About Me & What I Can offer You</p>
                <p class="about-text">I am friendly and cheerful, with a strong sense of commitment and attention to detail in life.
                I always strive to progress, both on a personal level and within the workplace. In order to stay ahead of fast moving
                changes in product engineering and technology I am well practiced at adapting, learning and refining new skills quickly.  
                I pride myself on being articulate and being able to communicate with people at all levels and am able to work well as 
                part of a team or on my own initiative.</p>
            <p class="about-heading">Contact Me</p>
            <p class="about-text">
                For more infomation contact me on <span class="email-address">Jonwhewaycode@gamil.com</span> or use the contact tab above.
            </p>
        </div>
    </div>
</div>
<div class="emptyDiv"></div>

{% endblock %}


{% block script %}

<script>
    var textWrapper = document.querySelector('.title');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
    .add({
        targets: '.title .letter',
        opacity: [0,1],
        easing: "easeInOutQuad",
        duration: 2250,
        delay: (el, i) => 150 * (i+1)
    }).add({
        targets: '.title',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 12000
    });
</script>

{% endblock %}