{%  extends 'base.html' %}

{% block title %}
{{ page_title }}
{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/landingpage.css')}}" type="text/css">
{% endblock %}

{% block content %}

<div class="container">
    <a href="#" class="scrollToTop"><i class="fas fa-arrow-up scrolltotopicon"></i></a>
    <div class="row">
        <div class="col-sm-4 avatar-col">
            <img class="avatar-image" src="/static/images/avatar.jpg" alt="Avatar Image">
        </div>
        <div class="col-sm-8 title-text">
            <div class="title">Full Stack Developer With Green Fingers</div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <p class="about-heading">About Me & What I Can offer You</p>
            <p class="about-text">
                Formerly from a background in primary engineering, I retrained as a web developer,
                bringing with me a love of problem-solving, strong attention to detail and a focus on UX.
                Throughout my career, I have worked in highly skilled roles that involved interacting with the public
                and colleagues to find practical solutions to technical problems. My career change was prompted by
                discovering a love for writing code to benefit my own projects working with microcontrollers and
                automation.
            </p>
            <p class="about-text">
                My current skill set is
                focused on HTML5, CSS3, Javascript, jQuery, Python3, Flask, Django, Mysql, MongoDB, AWS and C++, but I am
                currently upskilling in React.js and PHP. <br>I am a highly focused and driven individual who is used to
                working independently, however, I enjoy collaborative working and the opportunity to learn from others.
                I am a quick learner and always on the lookout for a new challenge, whether it be in coding, electronics
                or attempting to cultivate veg on my allotment.
            </p>
            <p class="about-heading">Contact Me</p>
            <p class="about-text">
                For more infomation contact me on <a href="{{ url_for ('contact') }}"><span
                        class="email-address">Jonwhewaycode@gmail.com</span></a>.
            </p>
        </div>
    </div>
</div>
<div class="emptyDiv"></div>

{% endblock %}


{% block script %}

<script src="{{url_for('static', filename='js/index.js')}}"></script>

{% endblock %}