{%  extends 'base.html' %}

{% block title%}
{{ page_title }}
{%endblock%}

{% block css %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/resume.css')}}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="section-heading ">My Skills & Work History</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
            <div class="row">
                <div class="col-2">
                    <i class="reasons-icon fas fa-tools" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <div class="reasons-heading ">Diagnosis and fault finding</div>
                    <p> I have Years of experiance in diagnosis and fault finding of sound electronics,
                        audio equipment and coin-operated machinery.</p>
                </div>
            </div>
        </div>
        <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
            <div class="row">
                <div class="col-2">
                    <i class="reasons-icon fas fa-wrench" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <div class="reasons-heading ">Other Skills</div>
                    <p> Over the Years I have gained experiance in repair of white goods,
                        Hot tub repair and maintenance, Satellite Installations and even
                        Refurbishment of pool tables.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr> <!-- horizontal line  -->

    <div class="row">
        <div class="col-12">
            <h3 class="section-heading">Wed Development</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
            <div class="row">
                <div class="col-2">
                    <i class="reasons-icon fas fa-laptop-code" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <div class="reasons-heading ">Front End</div>
                    <p> I'm skilled in User Experience Design using the trinity of Html5, Css3, Javascript, jQuery,
                        Bootstrap and Materializ. I can also utilize wireframe software such as Balsamiq and graphics
                        sofware
                        such as Photoshop.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
            <div class="row">
                <div class="col-2">
                    <i class="reasons-icon fas fa-cogs" aria-hidden="true"></i>
                </div>
                <div class="col-10">
                    <div class="reasons-heading ">Back End</div>
                    <p>
                        I have experiance in data-driven web applications. Many of my projects utilise
                        document-based data. I use Python and Flask in conjunction with MongoDB to
                        process and present information. Also Python and Django with Mysql
                        for ecommerce web based applications.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row progress-section">
        <div class="col">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                    style="width:90%;">
                    <span class="sr-only">90% complete</span>
                </div>
                <span class="progress-type">HTML5</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="width:80%;">
                    <span class="sr-only">80% complete</span>
                </div>
                <span class="progress-type">CSS3</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width:65%;">
                    <span class="sr-only">65% complete</span>
                </div>
                <span class="progress-type">JavaScript / jQuery</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width:50%;">
                    <span class="sr-only">50% complete</span>
                </div>
                <span class="progress-type">C++</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="width:80%;">
                    <span class="sr-only">80% complete</span>
                </div>
                <span class="progress-type">Django / Phython</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width:60%;">
                    <span class="sr-only">60% complete</span>
                </div>
                <span class="progress-type">SQL / MongoDB</span>
            </div>
        </div>
    </div>
    <hr> <!-- horizontal line  -->

    <div class="whitespace"></div>
    <!--=========================== Education Info ===========================-->

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-heading">Education & Certification</h3>
            </div>
        </div> 
        <div class="row educationRow">
            <div class="col-md-4 image-eduction">
                <img class="educationImages" src="/static/images/ci.png" alt="Code instute image">
            </div>
            <div class="col-md-8 educationInfo">
                <h5 class="educationHeading">Code Institute</h5>
                <div>Diploma in Full Stack Web Development</div>
                <span class="text-muted">January 2020 - May 2020</span>
                <li>
                    <a href="" target="_blank">Diploma in Full Stack Web Development</a>
                </li>
                <li>
                    <a href="https://www.credential.net/bf0dadb8-9ffe-4e26-935f-bcdea942e175#gs.955tkk"
                        target="_blank">Diploma in Tech Fundamentals</a>
                </li>
            </div>
        </div>
        <div class="row educationRow">
            <div class="col-md-4 image-eduction">
                <img class="educationImages" src="/static/images/bwc.jpg" alt="Bw College image">
            </div>
            <div class="col-md-8 educationInfo">
                <h5 class="educationHeading">Bridgwater College</h5>
                <div>City & Guilds in Sound Engineering <br> Parts 1 & 2</div>
                <span class="text-muted">September 1998 - June 2000</span>
                <li>
                    City & Guilds Pass* (Highest Grade)
                </li>
            </div>
        </div>
    </div>
    
    <!--============================ company Info ============================-->
    
    <div class="whitespace"></div>
    <!-- Html that is injected by javascript when a particular company is clicked on -->
    <div class="row" id="jobinfo"></div>

    <div class="row show" id="workhistory">
        <div class="col-sm-12">
            <h3 class="section-heading">Employment History</h3>
            <p class="sub-heading">Select the company for more infomation about responsibilities & infomation.</p>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto card-col">
            <!-- onclick will fire selectjob function with the company name as the parameter and Javascript will inject work history  -->
            <div class="card cardhover" onclick="selectjob('slx'); autoScrollToBottom()" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/slx.jpg" alt="Slx hire image">
                <div class="card-body">
                    <h5 class="card-title">SLX Hire</h5>
                    <h6 class="card-subtitle mb-2 text-muted">February 2019 – current</h6>
                    <p class="card-text">Freelance Theatre Technician</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto card-col">
            <div class="card cardhover" onclick="selectjob('wogan'); autoScrollToBottom()" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/wogan.jpg" alt="Wogan coffee image">
                <div class="card-body">
                    <h5 class="card-title">Wogan Coffee</h5>
                    <h6 class="card-subtitle mb-2 text-muted">June 2018 – February 2019</h6>
                    <p class="card-text">Mobile Service Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto card-col">
            <div class="card cardhover" onclick="selectjob('jnc'); autoScrollToBottom()" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/jnc.jpg" alt="Jnc image">
                <div class="card-body">
                    <h5 class="card-title">JNC Sales</h5>
                    <h6 class="card-subtitle mb-2 text-muted">October 2014 – June 2018</h6>
                    <p class="card-text">Service Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto card-col">
            <div class="card cardhover" onclick="selectjob('mendip'); autoScrollToBottom()" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/mendip.jpg" alt="Mendip image">
                <div class="card-body">
                    <h5 class="card-title">Mendip Coin Co.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">August 2007 – October 2014</h6>
                    <p class="card-text">Mobile Service Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6  mx-auto card-col">
            <div class="card cardhover" onclick="selectjob('avocet'); autoScrollToBottom()" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/avocet.jpg" alt="Avocet image">
                <div class="card-body">
                    <h5 class="card-title">Avocet Engineering</h5>
                    <h6 class="card-subtitle mb-2 text-muted">January 2002 – August 2007</h6>
                    <p class="card-text">Audio Visual Engineer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="backToTopButton"><a class="btn btn-info bttButton" href="#top"><i class="fas fa-arrow-up"></i> Go to
            Top</a>
        <span class="hide" id="backbutton"><a class="btn btn-info backbutton" onclick="back()"><i
                    class="fas fa-arrow-left"></i> Back to Employment</a></span></div>
</div>

<div class="emptyDiv"></div>

{% endblock %}

{% block script %}

    <script src="{{url_for('static', filename='js/resume.js')}}"></script>
    <script src="{{url_for('static', filename='js/autoscrollto.js')}}"></script>

{% endblock %}